.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 80vh;
  margin: 0 50px;
  text-align: center;
}

.contact__question {
  color: var(--secondary-color);
  font-family: 'Cutive Mono', monospace, sans-serif;
  text-align: left;
  animation: slideInLeft 1.2s ease-in-out;
}

.contact__question > span {
  color: var(--secondary-color);
  padding: 10px;
  font-weight: 600;
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.contact__content h1 {
  animation: slideInLeft 1s ease-in-out;
}

.contact__content .contact__text-1 {
  animation: slideInLeft 0.8s ease-in-out;
}

.contact__content .contact__text-2 {
  animation: slideInLeft 0.6s ease-in-out;
}

.contact__link {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 20px 28px;
  margin: 50px 0;
  border-radius: 7px;
  animation: slideInRight 1s ease-in-out;
  transition: transform 0.3s ease-in;
}

.contact__link:hover {
  transform: scale(1.04);
  background-color: var(--hover-color);
}

@keyframes slideDown {
  from {
    transform: translateY(-1500px);
  }
  to {
    transform: translateY(0);
  }
}
