.projects {
  min-height: 100vh;
  padding: 10px 30px;
  margin: 50px 50px;
}

.projects__col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-color-project-card);
  width: 320px;
  height: 350px;
  padding: 30px;
  margin: 10px;
  border-radius: 5px;
  transition: transform 0.1s ease-in;
  animation: slideInLeft 0.5s ease-in-out;
}

.project__card:hover {
  transform: scale(1.03);
}

.project__card-row {
  display: flex;
  width: 300px;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.project__card-rowTech {
  position: absolute;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  bottom: 30px;
}

.project__card-rowTech .tech {
  margin: 3px;
  opacity: 0.8;
  font-size: 13px;
}

.project__card-row a {
  color: var(--font-color);
  margin: 5px;
}

.project__card-row a:hover {
  color: var(--secondary-color);
}

.project__card-row a i {
  font-size: 25px;
  animation: slideInRight 0.7s ease-in-out;
}
.project__card-row .fa-folder {
  color: var(--secondary-color);
  font-size: 50px;
  animation: slideInRight 0.9s ease-in-out;
}

.project__card p {
  font-size: 14px;
  animation: slideInRight 1s ease-in-out;
}

.project__card h1 {
  font-size: 30px;
  align-self: flex-start;
  margin-bottom: 10px;
  animation: slideInRight 1s ease-in-out;
}

.projects__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: slideInRight 0.7s ease-in-out;
  margin-bottom: 30px;
}

.projects__header h1 {
  font-size: 35px;
  animation: slideInLeft 0.9s ease-in-out;
}

.projects__header-num {
  color: var(--secondary-color);
  padding: 10px;
  font-weight: 600;
  font-family: 'Cutive Mono', monospace, sans-serif;
}

.projects .header-line {
  width: 300px;
  height: 1px;
  opacity: 0.5;
  margin-left: 20px;
  background-color: var(--font-color-title);
}

@media only screen and (max-width: 500px) {
  .projects {
    min-height: 100vh;
    padding: 10px 10px;
    margin: 25px 15px;
  }

  .projects .header-line {
    width: 100px;
  }
}
