.showcase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 10px 30px;
  line-height: 1.3;
  opacity: 1;
  margin: 0 50px;
}

.showcase__text {
  color: var(--secondary-color);
  font-family: 'Cutive Mono', monospace, sans-serif;
  text-align: left;
  animation: slideInRight 0.3s ease-in-out;
}

.showcase__name {
  animation: slideInRight 0.5s ease-in-out;
}

.showcase__title {
  max-width: 1100px;
  color: var(--font-color-title);
  font-size: 70px;
  text-align: left;
  animation: slideInRight 0.7s ease-in-out;
}

.showcase__description {
  width: 60%;
  margin-top: 30px;
  line-height: 1.7;
  animation: slideInLeft 0.9s ease-in-out;
}

.showcase__description-highlight {
  color: var(--secondary-color);
  margin: 0 7px;
}

.showcase__contact-me {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 20px 28px;
  margin: 50px 0;
  border-radius: 7px;
  animation: slideInLeft 1s ease-in-out;
  transition: transform 0.2s ease-in;
}

.showcase__contact-me:hover {
  transform: scale(1.04);
}

.showcase__contact-me:hover {
  background-color: var(--hover-color);
}

@keyframes slideInRight {
  from {
    transform: translateX(-1500px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(1800px);
  }
  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1024px) {
  .showcase {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    padding: 20px;
    max-width: 770px;
  }
  .showcase__text {
    margin-bottom: 15px;
  }
  .showcase__name {
    margin-bottom: 25px;
  }
  .showcase__title {
    margin-bottom: 25px;
  }
  .showcase__contact-me {
    padding: 30px 48px;
  }
}

@media only screen and (max-width: 495px) {
  .showcase {
    margin: 10px;
    padding: 20px;
    max-width: 500px;
    height: 100%;
  }
  .showcase__text {
    margin-bottom: 15px;
  }
  .showcase__name {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .showcase__title {
    margin-bottom: 15px;
    font-size: 40px;
  }
  .showcase__contact-me {
    padding: 30px 48px;
    margin-bottom: 15px;
  }
  .showcase__description {
    width: 100%;
  }
}
