@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dark-mode {
  --background-color: #09192f;
  --background-color-side-menu: #162944;
  --font-color: #c2ccec;
  --font-color-title: #8892b0;
  --hover-color: #212f43;
  --secondary-color: #56bfde;
  transition: var(--background-color);
}

.light-mode {
  --background-color: #fff;
  --background-color-side-menu: #fff;
  --font-color: #333;
  --font-color-title: #777;
  --hover-color: #f4f4f4;
  --secondary-color: #007bff;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  transition: background-color 0.4s ease, color 0.5s ease;
}

a {
  font-family: 'Cutive Mono', monospace, sans-serif;
  text-decoration: none;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
}

li {
  list-style: none;
}

h1 {
  font-family: 'open', sans-serif;
  font-weight: 600;
  font-size: 70px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 25px;
}
