.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  width: 100%;
  padding: 10px 20px;
}

.navbar__nav-number {
  color: var(--secondary-color);
  padding: 10px;
  font-weight: 600;
}

.navbar__header a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar__nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__nav > ul li a {
  color: var(--font-color);
  transition: color 0.2s ease-in;
  margin-left: 10px;
}

.navbar__nav-resume {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color) !important;
  padding: 10px 18px;
  border-radius: 7px;
}

.navbar__nav-resume:hover {
  background-color: var(--hover-color);
}

.navbar__nav > ul li a:hover {
  color: var(--secondary-color);
}

.navbar__nav > ul li {
  transition: transform 0.2s ease-in;
}

.navbar__nav > ul li:hover {
  transform: scale(1.04);
}

.navbar__hamburger {
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
  display: none;
}

input[type='checkbox'].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type='checkbox'].checkbox:checked + label {
  left: 85px;
  top: 25px;
}

input[type='checkbox'].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type='checkbox'].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 55px;
  top: 25px;
  background: #fff;
  opacity: 1;
  background-color: cyan;
}

.icon {
  margin: 0px 10px;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar__nav > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    font-size: 20px;
    background-color: var(--background-color-side-menu);
    opacity: 0.8;
    transform: translateX(120px);
    transition: transform 0.4s ease-in, width 0.3s ease-in;
  }
  .navbar__hamburger {
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 10px;
    justify-content: space-between;
    z-index: 1;
  }

  .navbar__nav > ul li a:hover {
    color: var(--secondary-color);
    padding: 10px;
    border-bottom: 2px solid #f4f4f4;
  }
  .navbar .open {
    transform: translateX(0) !important;
    width: 50%;
    transition: transform 0.4s ease-in, width 0.1 s ease-in;
  }
  .navbar .close {
    overflow-x: hidden;
    width: 0;
    transform: translateX(-100%);
  }
}
